*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: DidotRegular;
}

body {
    background: rgb(66, 66, 66);
}

#credentials-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 55vh;
    margin-bottom: 5vh;
}

#credentials-input textarea{
    color: black;
    padding: 10px;
    margin: 0px 50px 5px 0px;
    border: 2px solid rgb(99, 33, 99);
    border-radius: 9px;
    font-size: 1.1rem;
    resize: none;
}

#credentials-input input[type=button]{
    color: black;
    padding: 5px 10px;
    margin: 0px 50px 5px 0px;
    background: rgb(99, 33, 99);
    border-radius: 9px;
    font-size: 1.1rem;
    cursor: pointer;
}

#container {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 85vh;
    margin-bottom: 5vh;
    margin-right: 2vw;
}

#message-inputs textarea {
    color: black;
    padding: 5px;
    margin: 30px 3px 3px 3px;
    border: 2px solid rgb(99, 33, 99);
    border-radius: 9px;
    font-size: 1.1rem;
    resize: none;
}

#message-inputs input[type=button]{
    float: right;
    display: block;
    color: black;
    padding: 5px;
    margin: 30px 3px 3px 3px;
    background: rgb(99, 33, 99);
    border-radius: 9px;
    font-size: 1.1rem;
    cursor: pointer;
}