<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Client Chat</title>
</head>

<body>
    <div id="credentials-input">
        <textarea id="client_email" placeholder="Digite seu email..." rows="1" cols="30"></textarea><br>
        <textarea type="text" id="client_message" placeholder="Digite sua mensagem aqui..." rows="10"
            cols="30"></textarea>
        <br>
        <input type="button" value="Iniciar Chat" id="start_chat_button" />
    </div>

    <div id="container">
        <div id="messages">
            asdfasdf
        </div>
        <div id="message-inputs">
            <textarea name="client_message" placeholder="Digite sua mensagem aqui..." cols="28" rows="1"></textarea>
            <input type="button" value="Enviar" id="chat_button" />
        </div>
    </div>
</body>

<script>
    document.getElementById('start_chat_button').addEventListener("click", () => {
        document.getElementById('credentials-input').style.display = 'none';
        document.getElementById('container').style.display = 'flex';
    })
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>

</html>