<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <% user_data.forEach((data)=> { %>
        <%= data.user_phone %>
            <%= data.user_bio %>
                <%= data.user_name %>
                    <% }); %>
</body>

</html>