<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    login
    <form method="post" action="/login">
        <label>Seu Número de telefone</label>
        <input type="text" name="user_phone">

        <button type="submit">Confirmar</button>
    </form>
</body>

</html>